<!-- <h1>Tweets#index</h1>
<p>Find me in app/views/tweets/index.html.erb</p> < -->
<p><%= notice %></p>
<h1>つぶやき一覧</h1> 

<% @tweets.each do |tweet| %>
 <p>本文:<%= tweet.content %></P>
 <%= link_to "つぶやきを編集する", edit_tweet_path(tweet.id) %>
 <%= link_to "つぶやきを削除する", tweet_path(tweet.id), method: :delete, data: {confirm: '本当に削除していいですか?'} %>
<% end %>

<%= link_to "つぶやきを投稿する", new_tweet_path %>